{
    "email": {
        "sender": "",
        "receipients": [],
        "password": "",
        "throttle": 300
    },
    "brightwheel": {
        "token": "",
        "includeBroadcasts": false,
        "includeGuardians": false
    }
}
